body {
    min-width: 370px;
    background-color: rgb(204, 127, 45);
    padding: .5rem;
}

h1 {
    text-align: center;
    margin-top: 0;
    min-height: 5rem;
}

#images {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

#images >img {
    max-width: 150px;
    min-width: 70px;
}

.topnav {
    align-items: center;
    text-align: center;
    font-size: 25px;
}

button {
    background-color: blue;
}